@import "../../themes/cactus/source/css/style"
@import "_twemoji"

*, :after, :before
  box-sizing: initial

article
  .content
    blockquote
      font-weight: 600;
      border-left: 0.3rem solid #e6b188
      margin-left: 0rem
      padding-left: 1rem

    a
      margin 0 0.2em

    blockquote:before
      content: none
